@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  background-color: rgb(238, 238, 238);
  font-family: "Roboto", sans-serif;
  list-style-type: none;
}

body {
  overflow-x: hidden;
}

/* header start */
header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: sticky;
  top: 0;
  width: 100vw;
  height: auto;
}

.logo {
  margin-top: 20px;
  margin-left: 100px;
  cursor: pointer;
}

.navbar {
  margin-top: 30px;
  margin-right: 120px;
}

.navbar ul li {
  display: inline;
  margin-left: 100px;
  font-size: 16px;
  cursor: pointer;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
}

.navbar ul li a:hover {
  color: #535353;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: 0.3s ease-in-out;
  background-color: black;
}
/* header end */

/* container start */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
/* container end */

/* subscribe section start */
.subscribeSection {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribeSection input {
  display: block;
  width: 300px;
  height: 30px;
  border: 0.3px solid #333;
  margin: 20px 0;
}

.subscribeSection button {
  background-color: #f1c40f;
  width: 150px;
  height: 40px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1.1px;
  transition: 0.3s;
}

.subscribeSection button:hover {
  background-color: rgb(255, 165, 0);
}
/* subscribe section end */

/* grid container start */
.gridContainer {
  margin-top: 60px;
}

.gridContainer .grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
}

.grid .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: rgb(255, 140, 0);
}

.grid .texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}
/* grid container end */

/* iframe container start */
.iFrameContainer {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.iFrameContainer iframe {
  width: 600px;
}
/* iframe container end */

/* cardsContainer start */
.cardsContainer {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 5px;
  height: 300px;
  width: 300px;
  margin: 10px 20px;
}

.card-header {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  font-weight: 700;
}

.card .price {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
}

.card .lists {
  margin-top: 20px;
}

.card ol li {
  font-size: 16px;
  color: black;
  opacity: 0.8;
  margin: 10px 0;
}

.btn {
  margin: 20px auto;
}
.btn button {
  background-color: #f1c40f;
  width: 100px;
  height: 30px;
  font-size: 20px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(255, 165, 0);
}
/* cardsContainer end */

/* footer start */
.footerContainer {
  display: flex;
  justify-content: center;
}

footer {
  display: fixed;
  bottom: 0;
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
  width: 775px;
  display: block;
  font-weight: 500;
  border-radius: 2px;
}

footer ul {
  display: flex;
  justify-content: flex-end;
}

footer ul li {
  background-color: #ddd;
}

footer ul li a {
  text-decoration: none;
  margin: 0 10px;
  cursor: pointer;
  color: #000;
  font-size: 16px;
  background-color: #ddd;
}

footer div {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  color: #444;
  font-size: 14px;
  background-color: #ddd;
}
/* footer end */

/* media queries start */
@media (max-width: 768px) {
  header,
  .navbar,
  .logo {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    width: 100vw;
    height: auto;
    z-index:10;
    background-color: rgb(238, 238, 238);
  }

  .logo img {
    position: fixed;
    left: 0;
    top: 20px;
  }

  .hamburger {
    display: block;
    position: fixed;
    right: 10px;
    top: 20px;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(-8px) rotate(45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-link {
    display: flex;
    flex-direction: column;
  }

  .nav-menu.active {
    left: 0;
  }

  .subscribeSection {
    margin-top: 60px;
    font-size: 1rem;
  }

  .gridContainer {
    margin-top: 20px;
  }

  .gridContainer .grid {
    margin-left: 0;
    font-size: 2vw;
  }

  .iFrameContainer {
    width: 90%;
  }
  .cardsContainer {
    display: flex;
    flex-direction: column;
  }

  footer div {
    display: flex;
    justify-content: center;
  }
}
/* media queries end */
